## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

import warnings
warnings.filterwarnings('ignore')

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#application_df = application_df.drop(['EIN','NAME'], axis = 1)
application_df = application_df.drop(['EIN'], axis = 1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Lets look at NAME values for binning
name_counts = application_df['NAME'].value_counts()

# look at NAME count above 5
name_counts[name_counts > 5]

NAME
PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: count, Length: 354, dtype: int64

In [6]:
# Determine which values to replace if counts are less than or equal to 5
names_to_replace = list(name_counts[name_counts <= 5].index)

# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['NAME'].value_counts()

NAME
Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: count, Length: 355, dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df,  dtype=int)
application_numeric

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop(['IS_SUCCESSFUL'], axis=1).values
y = application_numeric['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train[0])
hidden_layer_1 = 100
hidden_layer_2 = 30
hidden_layer_3 = 10


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_1, activation="relu", input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 100)                 │          39,900 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 30)                  │           3,030 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 10)                  │             310 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_3 (Dense)                      │ (None, 1)                   │              11 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 43,251 (168.95 KB)

 Trainable params: 43,251 (168.95 KB)

 Non-trainable params: 0 (0.00 B)

In [15]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 513us/step - accuracy: 0.7110 - loss: 0.5825
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 506us/step - accuracy: 0.7918 - loss: 0.4484
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 508us/step - accuracy: 0.7960 - loss: 0.4359
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 502us/step - accuracy: 0.7985 - loss: 0.4286
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.8032 - loss: 0.4212
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 499us/step - accuracy: 0.7995 - loss: 0.4251
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 502us/step - accuracy: 0.8003 - loss: 0.4237
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 505us/step - accuracy: 0.8048 - loss: 0.4139
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 506us/step - accuracy: 0.8040 - loss: 0.4165
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 503us/step - accuracy: 0.8029 - loss: 0.4164
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 501us/step - accuracy: 0.8028 - loss: 0.4176
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.8040 - loss: 0.4146
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 501us/step - accuracy: 0.8037 - loss: 0.4155
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.8067 - loss: 0.4101
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 506us/step - accuracy: 0.8000 - loss: 0.4182
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 503us/step - accuracy: 0.8014 - loss: 0.4171
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 506us/step - accuracy: 0.8053 - loss: 0.4127
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 508us/step - accuracy: 0.8031 - loss: 0.4150
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 511us/step - accuracy: 0.8015 - loss: 0.4119
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 508us/step - accuracy: 0.7994 - loss: 0.4132
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 503us/step - accuracy: 0.8077 - loss: 0.4043
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 514us/step - accuracy: 0.8067 - loss: 0.4104
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 503us/step - accuracy: 0.8051 - loss: 0.4072
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 512us/step - accuracy: 0.8055 - loss: 0.4059
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 515us/step - accuracy: 0.8041 - loss: 0.4090
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 508us/step - accuracy: 0.8030 - loss: 0.4115
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 514us/step - accuracy: 0.8066 - loss: 0.4067
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 511us/step - accuracy: 0.8053 - loss: 0.4073
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 510us/step - accuracy: 0.8083 - loss: 0.4054
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 515us/step - accuracy: 0.8023 - loss: 0.4099
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 510us/step - accuracy: 0.8070 - loss: 0.4068
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 510us/step - accuracy: 0.8086 - loss: 0.4063
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 508us/step - accuracy: 0.8092 - loss: 0.4009
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 512us/step - accuracy: 0.8046 - loss: 0.4076
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 511us/step - accuracy: 0.8058 - loss: 0.4057
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 507us/step - accuracy: 0.8050 - loss: 0.4050
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 511us/step - accuracy: 0.8034 - loss: 0.4082
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 512us/step - accuracy: 0.8049 - loss: 0.4064
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 510us/step - accuracy: 0.8044 - loss: 0.4052
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 513us/step - accuracy: 0.8047 - loss: 0.4070
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 512us/step - accuracy: 0.8032 - loss: 0.4087
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 507us/step - accuracy: 0.8093 - loss: 0.4006
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 513us/step - accuracy: 0.8034 - loss: 0.4060
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 511us/step - accuracy: 0.8070 - loss: 0.4045
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 509us/step - accuracy: 0.8033 - loss: 0.4079
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 511us/step - accuracy: 0.8038 - loss: 0.4060
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 510us/step - accuracy: 0.8092 - loss: 0.4014
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 510us/step - accuracy: 0.8089 - loss: 0.4037
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 507us/step - accuracy: 0.8013 - loss: 0.4088
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 504us/step - accuracy: 0.8101 - loss: 0.3975
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 507us/step - accuracy: 0.8096 - loss: 0.3997
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 511us/step - accuracy: 0.8104 - loss: 0.3997
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 512us/step - accuracy: 0.8075 - loss: 0.4046
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 502us/step - accuracy: 0.8030 - loss: 0.4035
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 503us/step - accuracy: 0.8083 - loss: 0.3996
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 509us/step - accuracy: 0.8081 - loss: 0.4004
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 502us/step - accuracy: 0.8054 - loss: 0.4053
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 503us/step - accuracy: 0.8082 - loss: 0.4017
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 514us/step - accuracy: 0.8056 - loss: 0.4054
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 521us/step - accuracy: 0.8091 - loss: 0.4017
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 516us/step - accuracy: 0.8105 - loss: 0.3981
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 517us/step - accuracy: 0.8069 - loss: 0.4029
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 509us/step - accuracy: 0.8059 - loss: 0.4015
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 516us/step - accuracy: 0.8117 - loss: 0.3968
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 515us/step - accuracy: 0.8050 - loss: 0.4072
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 511us/step - accuracy: 0.8108 - loss: 0.4007
Epoch 67/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 514us/step - accuracy: 0.8068 - loss: 0.4025
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 508us/step - accuracy: 0.8078 - loss: 0.4007
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 512us/step - accuracy: 0.8060 - loss: 0.4046
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 511us/step - accuracy: 0.8071 - loss: 0.4007
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 511us/step - accuracy: 0.8081 - loss: 0.4011
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 509us/step - accuracy: 0.8061 - loss: 0.4039
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 515us/step - accuracy: 0.8100 - loss: 0.3974
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 513us/step - accuracy: 0.8055 - loss: 0.4016
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 517us/step - accuracy: 0.8116 - loss: 0.3955
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 515us/step - accuracy: 0.8080 - loss: 0.4005
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 517us/step - accuracy: 0.8098 - loss: 0.3982
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 511us/step - accuracy: 0.8068 - loss: 0.4037
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 513us/step - accuracy: 0.8152 - loss: 0.3927
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 509us/step - accuracy: 0.8082 - loss: 0.4010
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 512us/step - accuracy: 0.8089 - loss: 0.3999
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 512us/step - accuracy: 0.8079 - loss: 0.4014
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 506us/step - accuracy: 0.8108 - loss: 0.4003
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 513us/step - accuracy: 0.8052 - loss: 0.4022
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 514us/step - accuracy: 0.8095 - loss: 0.4006
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 514us/step - accuracy: 0.8068 - loss: 0.4009
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 513us/step - accuracy: 0.8062 - loss: 0.4047
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 511us/step - accuracy: 0.8074 - loss: 0.3986
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 512us/step - accuracy: 0.8097 - loss: 0.3973
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 505us/step - accuracy: 0.8069 - loss: 0.4017
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 509us/step - accuracy: 0.8067 - loss: 0.4061
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 508us/step - accuracy: 0.8119 - loss: 0.3984
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 507us/step - accuracy: 0.8090 - loss: 0.4010
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 508us/step - accuracy: 0.8069 - loss: 0.4039
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 509us/step - accuracy: 0.8063 - loss: 0.4004
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 515us/step - accuracy: 0.8081 - loss: 0.4000
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 513us/step - accuracy: 0.8099 - loss: 0.3999
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 516us/step - accuracy: 0.8109 - loss: 0.3994
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 517us/step - accuracy: 0.8071 - loss: 0.4037
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 513us/step - accuracy: 0.8061 - loss: 0.4041

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 601us/step - accuracy: 0.7861 - loss: 0.4718
Loss: 0.471750944852829, Accuracy: 0.7861224412918091

In [18]:
# Export our model to HDF5 file
model_export = 'AlphabetSoupCharityOptimizer.h5'

# Save the model to a HDF5 file
nn.save(model_export)

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.